<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/dash.css">
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/img/image (1).jpeg" alt="">
                </span>
                <div class="text header-text">
                    <span class="name">Map</span>
                    <span class="profession">live locator</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search-alt-2 icon' ></i>
                        <input type="search" placeholder="Search ...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notification</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-log-out-circle icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  <h1> You are signed in as <%=obj.BusNo%>
  <!-- <div id="myMap" style="width:600px;height:400px;"></div> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script type='text/javascript'>
	const toogle = document.querySelector('toggle');
	toggl
  
  
  


  function loadMapScenario() {
      var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
        center: new Microsoft.Maps.Location(27.1767, 78.008072),
        zoom: 12
      });
	  const obj = <%-JSON.stringify(obj) %>;
	  const BusNo = obj.BusNo;
	  console.log()
      // Initialize Socket.io
      const socket = io();
	  console.log('Connected to the server');  
	  var busPushpin = null;

	  setInterval(() => {
	  if ('geolocation' in navigator) {
		navigator.geolocation.getCurrentPosition((position) => {
		  const { latitude, longitude, speed } = position.coords;
		  const timestamp = new Date(position.timestamp);
		  socket.emit('busLocationUpdate', {
			busNo: BusNo,
			latitude,
			longitude,
			speed,
			timestamp
		  });	
		  var busLocation = new Microsoft.Maps.Location(latitude, longitude);
		  var pushpin = new Microsoft.Maps.Pushpin(busLocation, {
					color:'red',
					anchor: new Microsoft.Maps.Point(20, 40), // Adjust the anchor point for proper placement
					visible: true, // Ensure the pushpin is visible
					width: 100, // Set the width of the pushpin
					height: 100, // Set the height of the pushpin
		});

				  // Clear the previous bus pushpin (if exists)
				  if (busPushpin) {
					map.entities.remove(busPushpin);
				  }

				  // Add the new bus pushpin to the map
				  map.entities.push(pushpin);

				  // Update the busPushpin reference
				  busPushpin = pushpin;
				  map.setView({ center: busLocation, zoom: 15 });

		}, (error) => {
		  console.error('Error getting geolocation:', error);
		});
	  } else {
		console.error('Geolocation is not available in this browser.');
	  }
	}, 15000); 
    }
  </script>
  <script src ='https://www.bing.com/api/maps/mapcontrol?key=AgR0x_K2TMMF0_KRIeZLiaXmJqlK8pR17S7fBdxlhNhwZYtWRZbPz8YZmt_H5sjh&callback=loadMapScenario' async defer></script>
</body>
</html>
